@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'color';

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  color: $color_tapa_approx;
  font-size: 1.2em;
  font-weight: normal;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

.logo {
  color: $white;
  float: left;
  font-size: 1.7em;
  font-weight: bold;
  letter-spacing: -1px;
  margin-right: 10px;
  padding-top: 9px;
  text-transform: uppercase;
}

.logo:hover {
  color: $white;
  text-decoration: none;
}

/* footer */

footer {
  border-top: 1px solid $color_gray_nurse_approx;
  color: $color_tapa_approx;
  font-size: 15px;
  height: 100px;
  margin-top: 45px;
  padding-top: 10px;
  a {
    color: $color_fuscous_gray_approx;
  }
  a:hover {
    color: $color_log_cabin_approx;
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* home */

.img_kitten {
  img {
    width: 800px;
  }
}

.img_logo {
  img {
    width: 50px;
  }
}

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  margin-top: 45px;
  width: 100%;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    margin-top: 20px;
    padding: 10px 0;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      line-height: 1;
      margin-bottom: 3px;
    }
    h1 {
      font-size: 1.4em;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
      text-align: left;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.stats {
  margin-top: 0;
  overflow: auto;
  padding: 0;
  a {
    border-left: 1px solid $gray-lighter;
    color: gray;
    float: left;
    padding: 0 10px;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  margin-top: 10px;
  overflow: auto;
  .gravatar {
    margin: 1px;
  }
  a {
    padding: 0;
  }
}

.users {
  padding: 0;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid $color_pink_swan_approx;
  margin-bottom: 15px;
  @include box_sizing;
  width: 100%;
}

input {
  height: auto !important;
}

#error_explanation {
  color: $red;
  ul {
    color: $red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin: -10px 0 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  margin-left: 0;
  width: auto;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    border-bottom: 1px solid $gray-lighter;
    overflow: auto;
    padding: 10px 0;
  }
}

.table-th {
  text-align: center;
  a:hover {
    text-decoration: none;
  }
}

/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    border-top: 1px solid $color_gray_nurse_approx;
    padding: 10px 0;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin: 5px 10px 0 0;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}
